<nav>
    <div class="nav-wrapper blue accent-4">
        <a href="/dashboard" class="brand-logo" style="padding-left: 15px">{{ title }}</a>
        
        <a href="#" data-target="sidenav" class="right sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
        </ul>
    </div>

    <ul class="sidenav" id="sidenav">
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
</nav>
