<head>
    <!-- Config -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="manifest" href="/manifest.json"></link>
    <title>{{title}} - {{ app.name }}</title>

    <!-- SEO -->
    <link href="{{ app.url }}" rel="canonical">
    <meta content="CubeQuence is a ultra-Light custom php framework" name="description">

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Luca-Castelnuovo/CubeQuence-framework@1/src/CubeQuence/Assets/css/style.min.css">

    {% if page_css %}
        <link rel="stylesheet" href="{{ page_css }}">
    {% endif %}
</head>
