{% extends "partials/base.twig" %}
{% set title = "Dashboard" %}
{% set page_script = "/assets/js/pages/dashboard.js" %}

{% block content %}
<h3>CubeQuence Dashboard!</h3>
<img src="/assets/img/example.png" alt="Logo">
{% endblock %}
