{% extends "partials/base.twig" %}
{% set title = "CubeQuence" %}
{% set page_script = "/assets/js/dashboard.js" %}

{% block content %}
<h3>CubeQuence Dashboard!</h3>
<img src="/assets/img/logo.png" alt="Logo">
{% endblock %}
