{% autoescape %}
    {% apply spaceless %}
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />

                <title>{{ code }} Error</title>

                <!-- Google font -->
                <link
                href="https://fonts.googleapis.com/css?family=Cabin:400,700"
                rel="stylesheet"
                />
                <link
                href="https://fonts.googleapis.com/css?family=Montserrat:900"
                rel="stylesheet"
                />

                <!-- Custom stlylesheet -->
                <link
                type="text/css"
                rel="stylesheet"
                href="/_errors/style.css"
                />
            </head>

            <body>
                <div id="error">
                <div class="error">
                    <div class="error-number">
                    <h3>{{ short_message }}</h3>
                    <h1>
                        {% for number in code|split('') %}
                            <span>{{ number }}</span>
                        {% endfor %}
                    </h1>
                    </div>
                    <h2>{{ message }}</h2>
                </div>
                </div>
            </body>
            <!-- This templates was made by Colorlib (https://colorlib.com) -->
        </html>
    {% endapply %}
{% endautoescape %}
