{% extends "partials/base.twig" %}
{% set title = "Login" %}
{% set navbarDisable = true %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l4 offset-l4">
        <div class="card">
            <div class="card-action blue accent-4 white-text center">
                <h3>{{ app.name }}</h3>
            </div>

            <div class="card-content">
                {% if message %}
                    <div class="card-panel hoverable z-depth-2 center-align">
                        <span class="flow-text">
                            {{ message }}
                        </span>
                    </div>
                {% endif %}

                {% if logged_in %}
                    <div class="row center">
                        <a class="waves-effect waves-light btn-large blue accent-4" href="/dashboard">
                            Go to dashboard
                        </a>
                    </div>
                    {% else %}
                        <div class="row center">
                            <a class="full-width waves-effect waves-light btn-large" href="/auth/request">
                                Authenticate
                            </a>
                        </div>

                        <div class="row center">
                            <a class="full-width waves-effect btn black-text grey lighten-2" href="/auth/request/device">
                                Authenticate using Mobile
                            </a>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
