{% extends "partials/base.twig" %}
{% set title = "Welcome" %}
{% set navbarDisable = true %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l4 offset-l4">
        <div class="card">
            <div class="card-action blue accent-4 white-text">
                <h3>Welcome to CubeQuence!</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
