{% autoescape %}
    {% apply spaceless %}
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />

                <title>404 Error</title>

                <!-- Google font -->
                <link
                href="https://fonts.googleapis.com/css?family=Cabin:400,700"
                rel="stylesheet"
                />
                <link
                href="https://fonts.googleapis.com/css?family=Montserrat:900"
                rel="stylesheet"
                />

                <!-- Custom stlylesheet -->
                <link
                type="text/css"
                rel="stylesheet"
                href="https://cms.castelnuovo.xyz/_errors/style.css"
                />
            </head>

            <body>
                <div id="error">
                <div class="error">
                    <div class="error-number">
                        <h3>Oops! Page not found</h3>

                        <h1>
                            <span>4</span>
                            <span>0</span>
                            <span>4</span>
                        </h1>
                    </div>

                    <h2>The page you requested could not be found</h2>
                </div>
                </div>
            </body>
            <!-- This templates was made by Colorlib (https://colorlib.com) -->
        </html>
    {% endapply %}
{% endautoescape %}
